.bigCard {
  aspect-ratio: 7/4;
  transition: background-color 100ms ease-in, color 100ms ease-in;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.interactable {
  font-size: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.bigCard:has(.interactable) {
  cursor: pointer;
}

.bigCard:has(.interactable:hover) {
  background-color: var(--primary-1);
  color: var(--surface-100);
}

.children {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
