.wrapper {
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  left: 0;
  top: -100%;
  z-index: 50;
  transition: top 100ms ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  background-color: var(--surface-200);
  color: var(--color-text-100);
  width: 500px;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border-radius: 1rem;
  z-index: 60;
  position: absolute;
  top: -100%;
  left: 50%;
  transition: top 100ms ease-in;
  transform: translate(-50%, -50%);
  padding: 1rem;
}

.open {
  top: 0;
}

.form.open {
  top: 50%;
  display: flex;
  gap: 1rem;
  flex-flow: column;
}

.form h1 {
  font-size: 1.5rem;
  font-weight: 500;
}
