/* From Uiverse.io by boryanakrasteva */
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  position: relative;
}
.btn:hover {
  background-color: var(--primary-1);
  color: var(--surface-100);
}
